<div class="jumbotron" >
  <%= form_tag delete_job_create_path, multipart: true do %>
    <%= file_field_tag 'csv', accept: 'text/csv'%>
    <br><%= submit_tag "Undo Import CSV", :class => "btn btn-primary" %>
  <%end%><br>
  <div id="review" class="btn-group btn-group-justified">
    <div class="btn-group">
      <%= form_tag csv_download_show_path do %>
        <%= hidden_field_tag 'file', "import_success" %>
        <%= submit_tag "Download Succcessful Imports", :class => "btn btn-primary"%>
      <% end %>
      <br><%= form_tag csv_download_show_path do %>
        <%= hidden_field_tag 'file', "import_failure"%>
        <%= submit_tag "Download Unsucccessful Imports", :class => "btn btn-primary"%>
     <% end %>
       <br><div id="import" class="btn-group">
          <%= link_to "Import Other .csv", import_job_new_path, :class => "btn btn-primary"%>
       </div>
     <br>
   </div>
  </div>
      
  <br><table id="success-tbl" class="table table-striped">
    <caption>Successful Imports</caption>
    <tr>
    <% @success.headers.each do |header| %>
      <th><%= header %></th>
    <% end %> 
      <th>Remove</th>
    </tr>
    <% @success.each do |row| %>
    <tr>
     <% row.each do |element| %>
       <td><%= element[1] %></td>
     <% end %>
       <td><%= button_tag "Delete", data:{:contact_id => row.first[1]},:class => "btn btn-default"%></td>
    </tr>
    <% end %> 
  </table>

  <br><table id="failure-tbl" class="table table-striped">
    <caption>Unsuccessful Imports</caption>
    <tr>
     <%@failure.headers.each do |header| %>
      <th><%= header %></th>
     <% end %> 
    </tr>
    <% @failure.each do |row| %>
	  <tr>
	   <% row.each do |element| %>
      <td><%= element[1] %></td>
     <% end %>
    </tr>
    <% end %> 
  </table>
</div>